{% extends "layout.html" %}

{% block title %}
BookReview | Sign In
{% endblock %}

{% block body %}
<div class="modal">
  <form id="" class="modal-content animate">
    <div class="imgcontainer">
      <img src="static/img/avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input id="pass" type="password" placeholder="Enter Password" name="psw" required>
        
      <div id="badpass" class="credentialerror"></div>
      <span><button type="submit">Sign In</button>Don´t have an accoutn? <a href="/">Sign Up</a></span>
    </div>
  </form>
</div>  
{% endblock %}